* {
    margin: 0;
    padding: 0
}

.background {
    background-image: url(../menu/image/back.png);
    background-size: 100% 100%;
}

.header {
    background-color: #6fc466;
    width: 100%;
    height: 100px;
}

.mainboard {
    width: 100%;
}

.nav-menu a {
    text-decoration: none;
    color: #ffffff;
}

.nav-menu li {
    color: #ffffff;
    float: left;
    padding: 34px;
    font-size: 20pt;
    list-style: none;
}

.nav-menu li {
    color: #ffffff;
    float: left;
    padding: 34px;
    font-size: 20pt;
    list-style: none;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #000000;
}